Makefile
Makefile.in
.deps/
.libs/
config.guess
config.log
config.status
config.sub
configure
*.la
*.lo
*.o
aclocal.m4
autom4te.cache/
depcomp
install-sh
libtool
ltmain.sh
missing
src/libluna-daemon.pc
compile
